# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# IDEs
.vscode/
.idea/

# Node
node_modules/

# Logs
# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# IDEs
.vscode/
.idea/

# Node
node_modules/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# OCR Models & Weights
ocr_engine/services/engines/
ocr_engine/services/engines/*.pth
ocr_engine/services/engines/*.pt
ocr_engine/services/engines/*.onnx


# PaddleOCR
.DS_Store/

predict_temp.ipynb
.ipynb_checkpoints/
vi00_vi01_transformer.yml/
colab_paddle.ipynb/
output/
